@font-face {
    font-family: "Lilita";
    src: url(/brawl-tips/LilitaOne-Regular.ttf);
}


body {
    background:  url(/assets/bsbackg.jpg) 
}

h1 {
    color: black
    margin-left: 20px;
    font-family: "Lilita";
 }
 
.